<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 24px;">
      <span style="color: black;">registr</span><span style="color: #FFD700;">APP</span>
    </ion-title>
    <div class="ion-text-center" style="font-size: 18px; color: rgb(5, 5, 5); margin-top: 4px;">
      Bienvenido {{ usuario }}
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="height: 15vh;"></ion-col> 
    </ion-row>

    <ion-row class="spaced-row">
      <ion-col size="5" offset="1">
        <ion-button expand="block" routerLink="/attendance" class="custom-button" (click)="asistencia()">
          Asistencia
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button expand="block" routerLink="/courses" class="custom-button" (click)="cursos()">
          Cursos
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="spaced-row">
      <ion-col size="5" offset="1">
        <ion-button expand="block" routerLink="/grades" class="custom-button" (click)="notas()">
          Notas
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button expand="block" routerLink="/schedule" class="custom-button" (click)="bitacora()">
          Bitacora
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="spaced-row">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" (click)="generarqr()" class="custom-button" style="max-width: 200px; margin: auto;">
          Generar QR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>