<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 24px;">
      <span style="color: black;">registr</span><span style="color: #FFD700;">APP</span> - Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notas por Evaluación</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item lines="none" class="select-container">
    <ion-label class="ion-text-wrap">Seleccionar Evaluación</ion-label>
    <ion-select [(ngModel)]="evaluacionSeleccionada" (ionChange)="seleccionarEvaluacion(evaluacionSeleccionada)">
      <ion-select-option *ngFor="let evaluacion of evaluaciones" [value]="evaluacion">{{ evaluacion }}</ion-select-option>
    </ion-select>
  </ion-item>


  <form (ngSubmit)="guardarNotas()" #formNotas="ngForm">
    <ion-list>
      <ion-item *ngFor="let alumno of alumnos" class = "item-notas">
        <ion-label class="alumno-label">{{ alumno.nombre }}</ion-label>
        <ion-input 
          [(ngModel)]="alumno.notas[evaluacionSeleccionada]" 
          name="{{ alumno.nombre }}-nota"
          type="number" 
          placeholder="Ingrese nota" 
          class="nota-input"
          min="1" max="7" step="0.1"
          required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="isFormInvalid()" class="save-button">Guardar Notas</ion-button>
  </form>

  <ion-button expand="block" color="medium" style="margin-top: 20px;" (click)="volver()">
    Volver
  </ion-button>
</ion-content>
