<ion-content [fullscreen]="true">
  <div class="app-title">
    Registrapp
  </div>

  <div class="register-container">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="nombre" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="apellido" placeholder="Ingrese su apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="email" type="email" placeholder="Ingrese su correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select [(ngModel)]="tipo_usuario" placeholder="Seleccione el tipo de usuario">
          <ion-select-option value="alumno">Alumno</ion-select-option>
          <ion-select-option value="profesor">Profesor</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" (click)="registerUser()">Registrar</ion-button>
    </ion-list>
  </div>
</ion-content>
