<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Nueva Materia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de la Materia</ion-label>
        <ion-input [(ngModel)]="nuevaMateria.nombre" placeholder="Ingrese el nombre de la materia"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Profesor</ion-label>
        <ion-select [(ngModel)]="profesorSeleccionado" placeholder="Selecciona un Profesor">
          <ion-select-option *ngFor="let profesor of profesores" [value]="profesor">
            {{ profesor.nombre }} {{ profesor.apellido }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" (click)="crearMateria()">Crear Materia</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let materia of materias">
      <ion-label>{{ materia.nombre }} - {{ materia.profesor.nombre }} {{ materia.profesor.apellido }}</ion-label>
      <ion-button color="danger" (click)="eliminarMateria(materia.id)">Eliminar</ion-button>

      <ion-list>
        <ion-item *ngFor="let alumno of materia.alumnos">
          <ion-label>{{ alumno.nombre }} {{ alumno.apellido }}</ion-label>
          <ion-button 
          color="danger" 
          *ngIf="alumno.id" 
          (click)="eliminarAlumnoDeMateria(materia.id, alumno.id)">
          Eliminar
        </ion-button>
        
        </ion-item>
      </ion-list>
  

      <ion-select [(ngModel)]="alumnoSeleccionado" placeholder="Selecciona un Alumno">
        <ion-select-option *ngFor="let alumno of alumnos" [value]="alumno">
          {{ alumno.nombre }} {{ alumno.apellido }}
        </ion-select-option>
      </ion-select>
      <ion-button color="primary" (click)="agregarAlumnoAMateria(materia.id)">Agregar Alumno</ion-button>
    </ion-item>
  </ion-list>
  
  <ion-button expand="block" color="medium" style="margin-top: 20px;" (click)="volver()">
    Volver
  </ion-button>
</ion-content>
