<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 24px;">
      <span style="color: black;">registr</span><span style="color: #FFD700;">APP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 18px;">
      Escanear QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scanner-container">
    <ion-button expand="block" (click)="iniciarEscaneo()" *ngIf="!isScanning">
      Iniciar escaneo
    </ion-button>
    <ion-button expand="block" color="danger" (click)="detenerEscaneo()" *ngIf="isScanning">
      Detener escaneo
    </ion-button>
    <ion-button expand="block" color="medium" style="margin-top: 20px;" (click)="volver()">
      Volver
    </ion-button>
  </div>
</ion-content>
