<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 24px;">
      <span style="color: black;">registr</span><span style="color: #FFD700;">APP</span> - Horario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group expand="inset">
    <ion-accordion value="1">
      <ion-item slot="header" color="light">
        <ion-label>Calidad de Software</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Horario: Lunes y Miércoles, 10:00 - 12:00</p>
        <p>Aula: 203</p>
      </div>
    </ion-accordion>

    <ion-accordion value="2">
      <ion-item slot="header" color="light">
        <ion-label>Aplicaciones Móviles</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Horario: Martes y Jueves, 14:00 - 16:00</p>
        <p>Aula: 105</p>
      </div>
    </ion-accordion>

    <ion-accordion value="3">
      <ion-item slot="header" color="light">
        <ion-label>Arquitectura</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Horario: Viernes, 09:00 - 11:00</p>
        <p>Aula: 302</p>
      </div>
    </ion-accordion>

    <ion-accordion value="4">
      <ion-item slot="header" color="light">
        <ion-label>Inglés Intermedio</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Horario: Lunes y Miércoles, 16:00 - 18:00</p>
        <p>Aula: 204</p>
      </div>
    </ion-accordion>

    <ion-accordion value="5">
      <ion-item slot="header" color="light">
        <ion-label>Estadística Descriptiva</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Horario: Martes y Jueves, 08:00 - 10:00</p>
        <p>Aula: 101</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
