ion-header {
    background: transparent;  
    padding: 10px;
    box-shadow: none;
    margin-bottom: 20px;  
}

ion-title {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1%;  
    height: 0,5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.2;
    animation: fadeInUp 1.5s ease-out forwards;
    padding: 0; 
}

ion-title span:nth-child(1) {
    color: black;
}

ion-title span:nth-child(2) {
    color: #FFD700;
}

ion-content {
    
    padding: 0 10px; 
}


ion-accordion-group {
    margin-top: 10px;
}

ion-item {
    background: transparent !important; 
    border: none; 
    margin: 10px 0;
    padding: 15px;
    box-shadow: none;
    transition: transform 0.3s ease, background 0.3s ease;
    max-width: 100%;
}

ion-item:hover {
    background: rgba(247, 211, 11, 0.1);
    transform: translateY(-5px);
}


ion-accordion {
    background: linear-gradient(to bottom, #4015db, #ffffff0c); 
}
ion-title{
    padding: 10px;
}
.content-container{
    color: #4015db;
}
ion-content {
    background: linear-gradient(to bottom, #4015db, #ffffff0c);
  }
  