.content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom, #4015db, #ffffff); 
}

.app-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.highlight {
  color: #FFD700; 
}

.loading-message {
  font-size: 18px;
  margin-top: 20px;
  color: #fff; 
  margin-bottom: auto; 
}

.spinner-container {
  margin-top: auto; 
  margin-bottom: 20px; 
}

.spinner {
  --width: 60px; 
  --height: 60px; 
  color: #FFD700; 
}
