<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 24px;">
      <span style="color: black;">registr</span><span style="color: #FFD700;">APP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" class="custom-button" style="margin: 10px auto;" (click)="generarqr()">
    Generar QR
  </ion-button>

  <h2 class="ion-text-center" style="margin-top: 20px; font-size: 18px;">Asistencia de Alumnos</h2>

  <!-- Tabla de Asistencia -->
  <ion-grid>
    <ion-row class="ion-text-center" style="font-weight: bold;">
      <ion-col size="4">Alumno</ion-col>
      <ion-col size="3">Estado</ion-col>
      <ion-col size="3">Fecha</ion-col>
    </ion-row>

    <ion-row *ngFor="let item of asistencia">
      <ion-col size="4">{{ item.alumno.nombre }} {{ item.alumno.apellido }}</ion-col>
      <ion-col size="3">
        <ion-checkbox [(ngModel)]="item.presente"></ion-checkbox>
      </ion-col>
      <ion-col size="3">
        <ion-input type="text" [value]="item.fecha" readonly></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-button expand="block" class="custom-button" style="margin-top: 20px;" (click)="confirmarAsistencia()">
    Confirmar Asistencia
  </ion-button>
  <!-- Mostrar el estado de asistencia para cada alumno -->
  <h3 class="ion-text-center" style="margin-top: 30px; font-size: 16px;">Estado de Asistencia</h3>
  
  <ion-grid>
    <ion-row class="ion-text-center" style="font-weight: bold;">
      <ion-col size="6">Alumno</ion-col>
      <ion-col size="6">Estado</ion-col>
    </ion-row>

    <ion-row *ngFor="let item of asistencia">
      <ion-col size="6">{{ item.alumno.nombre }} {{ item.alumno.apellido }}</ion-col>
      <ion-col size="6">
        <span [ngClass]="item.presente ? 'presente' : 'ausente'">
          {{ item.presente ? 'Presente' : 'Ausente' }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button expand="block" color="medium" style="margin-top: 20px;" (click)="volver()">
    Volver
  </ion-button>

</ion-content>
