ion-content {
    --background: linear-gradient(to bottom, #4015db, #ffffff);
}

.app-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: transparent;
    margin-top: 30px;
    padding-bottom: 30px;
    opacity: 0;
    animation: fadeInUp 1.2s ease-out forwards;
    transition: transform 0.3s ease, color 0.3s ease;
    background: none;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    padding: 0;
    border: none;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    50% {
      opacity: 0.7;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

ion-accordion-group {
    padding: 20px;
    border-radius: 12px;
    background: transparent;
}

ion-accordion {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #000000;
    transition: all 0.4s ease;
}

ion-accordion ion-item[slot="header"] {
    --background: #333333;
    color: #FFD700;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding: 10px 20px;
    border-left: 5px solid #ffffff;
    border-bottom: 1px solid #000000;
    transition: background 0.4s ease;
}

ion-accordion ion-item[slot="header"]:hover {
    --background: none;
    padding-left: 24px;
}

.ion-padding {
    background-color: transparent;
    border-radius: 10px;
    padding: 15px;
}

ion-item {
    background-color: transparent !important;
    --border-color: transparent !important; 
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #333;
    box-shadow: none !important; 
}

ion-item ion-label {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    background: none !important; 
    border: none !important; 
    display: inline-block;
    padding: 0;
    box-shadow: none !important; 
}

ion-label[color="success"] {
    color: #28a745 !important;
}

ion-label[color="danger"] {
    color: #e74c3c !important;
}

ion-item:hover {
    background: rgba(247, 211, 11, 0.1);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

ion-accordion ion-item[slot="header"] {
    animation: fadeIn 0.7s ease forwards;
}

ion-item ion-label {
    animation: fadeIn 1s ease;
}

ion-accordion {
    background-color: rgba(0, 0, 0, 0.747);
}

ion-accordion-group {
    background-color: transparent;
    background: none;
}
ion-list {
  background: linear-gradient(to bottom, #4015db, #ffffff);
}

ion-item{
  background-color: red;
}
