<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 24px;">
      <span style="color: black;">registr</span><span style="color: #FFD700;">APP</span> - Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Cursos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="curso-container">
    <ion-list>
      <ion-item class="curso-item">
        <ion-label class="curso-label">
          <h2>programacion de algoritmos</h2>
          <p>Sección: PGY-122 | Día: Lunes | Aula: 101</p>
        </ion-label>
        <ion-button fill="outline" color="primary" expand="block" (click)="verDetallesCurso('programacion de algoritmos')">Ver Detalles</ion-button>
      </ion-item>

      <ion-item class="curso-item">
        <ion-label class="curso-label">
          <h2>desarrollo web</h2>
          <p>Sección: PGY-512 | Día: Miércoles | Aula: 102</p>
        </ion-label>
        <ion-button fill="outline" color="primary" expand="block" (click)="verDetallesCurso('programacion web')">Ver Detalles</ion-button>
      </ion-item>
      

    </ion-list>
  </div>


  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalles del Curso</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="detalles-curso">
          <h3>{{ cursoSeleccionado?.nombre }}</h3>
          <p><strong>Descripción:</strong> {{ cursoSeleccionado?.descripcion }}</p>

          <h4>Secciones:</h4>
          <ion-list>
            <ion-item *ngFor="let seccion of cursoSeleccionado?.secciones">
              <ion-label>{{ seccion.nombre }} | Día: {{ seccion.dia }} | Aula: {{ seccion.aula }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
