<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 24px;">
      <span style="color: black;">registr</span><span style="color: #FFD700;">APP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="/assets/img/notfound.png" style="margin-top: 20px; width: 100%; height: auto; max-width: 500px; max-height: 400px;"></ion-img>
  <ion-item>
    <ion-button expand="full" (click)="Volver()" class="custom-button">Volver</ion-button>
  </ion-item>
</ion-content>